<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[18禁]</string>
		<key>face_id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[666]</string>
		<key>face_id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拜托]</string>
		<key>face_id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抱抱]</string>
		<key>face_id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>face_id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>face_id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[便便]</string>
		<key>face_id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[菜刀]</string>
		<key>face_id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[差评]</string>
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃瓜]</string>
		<key>face_id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抽烟]</string>
		<key>face_id</key>
		<string>012</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[唇]</string>
		<key>face_id</key>
		<string>013</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[呲牙]</string>
		<key>face_id</key>
		<string>014</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[打脸]</string>
		<key>face_id</key>
		<string>015</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大叫]</string>
		<key>face_id</key>
		<string>016</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大吐]</string>
		<key>face_id</key>
		<string>017</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大笑]</string>
		<key>face_id</key>
		<string>018</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_id</key>
		<string>019</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[瞪眼]</string>
		<key>face_id</key>
		<string>020</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_id</key>
		<string>021</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘟]</string>
		<key>face_id</key>
		<string>022</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[耳机]</string>
		<key>face_id</key>
		<string>023</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发呆]</string>
		<key>face_id</key>
		<string>024</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发怒]</string>
		<key>face_id</key>
		<string>025</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[飞吻]</string>
		<key>face_id</key>
		<string>026</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[粉]</string>
		<key>face_id</key>
		<string>027</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_id</key>
		<string>028</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[高兴]</string>
		<key>face_id</key>
		<string>029</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[搞定]</string>
		<key>face_id</key>
		<string>030</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[给力]</string>
		<key>face_id</key>
		<string>031</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[狗]</string>
		<key>face_id</key>
		<string>032</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_id</key>
		<string>033</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[关注]</string>
		<key>face_id</key>
		<string>034</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鬼脸]</string>
		<key>face_id</key>
		<string>035</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哈欠]</string>
		<key>face_id</key>
		<string>036</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[害怕]</string>
		<key>face_id</key>
		<string>037</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_id</key>
		<string>038</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[汗]</string>
		<key>face_id</key>
		<string>039</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[喝彩]</string>
		<key>face_id</key>
		<string>040</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[互粉]</string>
		<key>face_id</key>
		<string>041</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[黄狗]</string>
		<key>face_id</key>
		<string>042</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[黄瓜]</string>
		<key>face_id</key>
		<string>043</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[灰狗]</string>
		<key>face_id</key>
		<string>044</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[加油]</string>
		<key>face_id</key>
		<string>045</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[见钱]</string>
		<key>face_id</key>
		<string>046</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>face_id</key>
		<string>047</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[纠结]</string>
		<key>face_id</key>
		<string>048</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拒绝]</string>
		<key>face_id</key>
		<string>049</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[开心]</string>
		<key>face_id</key>
		<string>050</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_id</key>
		<string>051</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[口罩]</string>
		<key>face_id</key>
		<string>052</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哭]</string>
		<key>face_id</key>
		<string>053</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[酷]</string>
		<key>face_id</key>
		<string>054</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_id</key>
		<string>055</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[蓝狗]</string>
		<key>face_id</key>
		<string>056</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[雷]</string>
		<key>face_id</key>
		<string>057</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[礼物]</string>
		<key>face_id</key>
		<string>058</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[脸黑]</string>
		<key>face_id</key>
		<string>059</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[脸红]</string>
		<key>face_id</key>
		<string>060</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[露牙]</string>
		<key>face_id</key>
		<string>061</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[绿帽]</string>
		<key>face_id</key>
		<string>062</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[卖萌]</string>
		<key>face_id</key>
		<string>063</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>face_id</key>
		<string>064</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[摸头]</string>
		<key>face_id</key>
		<string>065</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拇指]</string>
		<key>face_id</key>
		<string>066</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[啤酒]</string>
		<key>face_id</key>
		<string>067</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[敲打]</string>
		<key>face_id</key>
		<string>068</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲]</string>
		<key>face_id</key>
		<string>069</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_id</key>
		<string>070</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[伤心]</string>
		<key>face_id</key>
		<string>071</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[生气]</string>
		<key>face_id</key>
		<string>072</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[生日]</string>
		<key>face_id</key>
		<string>073</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[胜利]</string>
		<key>face_id</key>
		<string>074</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_id</key>
		<string>075</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[睡]</string>
		<key>face_id</key>
		<string>076</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[思考]</string>
		<key>face_id</key>
		<string>077</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疼]</string>
		<key>face_id</key>
		<string>078</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐]</string>
		<key>face_id</key>
		<string>079</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐舌]</string>
		<key>face_id</key>
		<string>080</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐血]</string>
		<key>face_id</key>
		<string>081</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[威武]</string>
		<key>face_id</key>
		<string>082</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>face_id</key>
		<string>083</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[握手]</string>
		<key>face_id</key>
		<string>084</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[无奈]</string>
		<key>face_id</key>
		<string>085</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[无语]</string>
		<key>face_id</key>
		<string>086</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[捂嘴]</string>
		<key>face_id</key>
		<string>087</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[喜欢]</string>
		<key>face_id</key>
		<string>088</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吓]</string>
		<key>face_id</key>
		<string>089</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[想哭]</string>
		<key>face_id</key>
		<string>090</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[笑哭]</string>
		<key>face_id</key>
		<string>091</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[斜眼]</string>
		<key>face_id</key>
		<string>092</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[心碎]</string>
		<key>face_id</key>
		<string>093</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>face_id</key>
		<string>094</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[眼泪]</string>
		<key>face_id</key>
		<string>095</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_id</key>
		<string>096</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[阴险]</string>
		<key>face_id</key>
		<string>097</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[郁闷]</string>
		<key>face_id</key>
		<string>098</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_id</key>
		<string>099</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_id</key>
		<string>100</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[赞]</string>
		<key>face_id</key>
		<string>101</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[指点]</string>
		<key>face_id</key>
		<string>102</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘴]</string>
		<key>face_id</key>
		<string>103</string>
	</dict>
</array>
</plist>
